

    <div class="container">
       <div class="row">
           <div class="col s12 m12 l12 center">
                <h4>Favorite Recipes</h4> 
                <hr />
                <h6>Username: <span class="member-name"></span></h6>
                <button class="btn-small waves-effect  blue-grey darken-2" style="margin-top: 5px;" id="logoutBtn" type="submit" name="action"
                href="">Logout<i class="fas fa-sign-out-alt" style="margin-left: 5px;"></i>
                 </button>
                <p style="font-style: italic;">Save meals while scrolling for recipes by pressing the star located at the bottom of each recipe.</p>
           </div>
       </div>
    </div>


    <div class="row container"  style="margin-bottom: 50px;">
  {{#each recipes}}
  <div class="col s12 m6 l6">
    <div class="card">
      <div class="card-image">
        <img src={{image}}>
      </div>
      <div class="card-content" style="margin-bottom:-10px;">
        <span class="card-title"  style="font-weight: bolder; color:lightcoral; margin-top:-15px;">{{title}}</span>
    
       
        <li>{{title}}</li>
      
     
      </div>
      <div class="card-action">
        <a href={{url}} style="color:lightcoral">View More Information</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>


<script type="text/javascript" src="/js/members.js"></script>
