<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">

            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="card">
                        <div class="card-content text-center">
                            <h5>Dairy</h5>
                            {{#each dairy.dairy}}
                            <a class="waves-effect waves-light btn-small click-to-toggle" style="margin-top:3px;">{{this}}</a>
                            {{/each}}
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-content">
                            <h5>Meat</h5>
                            {{#each meat.meat}}
                            <a class="waves-effect waves-light btn click-to-toggle" style="margin-top:3px;">{{this}}</a>
                            {{/each}}
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-content">
                            <h5>Grains</h5>
                            {{#each grains.grains}}
                            <a class="waves-effect waves-light btn click-to-toggle" style="margin-top:3px;">{{this}}</a>
                            {{/each}}
                        </div>
                    </div>

                </div>
            </div>
           
        </div>
    </div>


</div>