<div class="section" id="landing" name="viewport" content="width=device-width, initial-scale=1">
        <div class="row">
            <div class="col s6 m6 l6 center">
                <h4 class="center" style="margin-top:20vh; font-weight:bold">Welcome to The Pantry Genie</h4>
                <p style="font-size:15px;">Begin by selecting the food items you have in your fridge and pantry down below, and we'll help you figure out the rest!</p>
            </div>
            <div class="col s12 m12 l12 center">
                     <a id="downButton" class=" btn-floating btn-medium waves-effect waves-light black"><i
                        class="material-icons">arrow_drop_down</i></a>
           
            </div>
        </div>
    </div>

<div class="container recipeBoxes">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="row">
                <div class="col s12 m12 l12">
                    
                        <div class="card-content ">
                            <ul class="collapsible">
                                {{#each items}}
                                <li>
                                    <div class="collapsible-header"><i class="material-icons">local_dining</i><h5>{{name}}</h5>
                                    </div>
                                    <div class="collapsible-body">{{#each ingredients}}<a
                                            class="waves-effect waves-light btn-small click-to-toggle"
                                            style="margin-top:3px; margin-left:1px;">{{this}}</a>{{/each}}</div>
                                </li>
                                {{/each}}
                            </ul>
                </div>
            </div>

        </div>
    </div>


</div>