<div class="row container">
  {{#each recipes}}
  <div class="col s12 m4 l4">
    <div class="card">
      <div class="card-image">
        <img src={{image}}>
        <span class="card-title"  style="font-weight: bolder; color:white; -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;">{{title}}</span>
      </div>
      <div class="card-content" style="margin-bottom:-10px;">
        <h6 style="margin-top: -10px;">Missing Ingredients:</h6>
        <hr />
        {{#if missedIngredientCount}}
        {{#each missedIngredients}}
        <li>{{name}}</li>
        {{/each}}
        {{/if}}
      </div>
      <div class="card-action">
        <a href="/recipes/{{id}}">View Recipe</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>