  <div class="row container">
      {{#each recipes}}
    <div class="col s6 m4 l4">
      <div class="card">
        <div class="card-image">
          <img src={{image}}>
          <span class="card-title">{{title}}</span>
        </div>
        <div class="card-content">
    
        </div>
        <div class="card-action">
          <a href="/recipes/{{id}}">This is a link</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
            