  <div class="row container">
      {{#each recipes}}
    <div class="col s6 m4 l4">
      <div class="card">
        <div class="card-image">
          <img src={{image}}>
          <span class="card-title">{{title}}</span>
        </div>
        <div class="card-content">
            {{#if missedIngredientCount}}
            {{#each missedIngredients}}
            <h6>Missing Ingredients</h6>
            <hr/>
            <p>{{name}}</p>
            {{/each}}
            {{/if}}
        </div>
        <div class="card-action">
          <a href="/recipes/{{id}}">This is a link</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
            