form.signup,
form.login {
  margin-top: 50px;
}

.selected {
  background-color:lightcoral !important;
}

.click-to-toggle {
  white-space:nowrap;
} 

.footerColor {
  background-color: lightcoral;
}

.footer {
  /* position: -webkit-sticky; */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height:auto;
  color: white;
  text-align: center;
  z-index: 1;
  vertical-align:text-top;
}

#landing{
  height: 95vh;
  /* background-image: url('/assets/pexels-bri-schneiter-346529.jpg'); */
  background-image: url('/assets/pexels-ella-olsson-1640777.jpg');
  /* background-image: url('/assets/IMG_9110 (1).JPG');  */
  /* background-image: url('/assets/IMG_9110bw.JPG');  */
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  z-index: -1;   
  opacity: .8;
}

#downButton {
  margin-top: 20vh;
  margin-left:auto;
  
  /* opacity:.8; */
  /* margin-left:50%; */
}