form.signup,
form.login {
  margin-top: 50px;
}

.selected {
  background-color:lightcoral !important;
}

.click-to-toggle {
  white-space:nowrap;
} 

.footerColor {
  background-color: lightcoral;
}

.footer {
  /* position: -webkit-sticky; */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height:50px;
  color: white;
  text-align: center;
  z-index: 1;
  vertical-align:middle;
}