form.signup,
form.login {
  margin-top: 50px;
}

.selected {
  background-color:lightcoral !important;
}

.click-to-toggle {
  white-space:nowrap;
} 

.footerColor {
  background-color: lightcoral;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}